div.body{
    font-family: 'Patrick Hand';
    background-image: radial-gradient(circle, rgb(172, 240, 172), rgb(252, 252, 252));
    height: -webkit-fill-available;
    color: black;
}

button:hover{
    background-color: rgb(122, 238, 122);
    cursor: pointer;
}

button:active{
    background-color: rgb(98, 228, 98);
}