*{
    padding:0;
    margin:0;
}

div.body{
    font-family: 'Patrick Hand';
    background-image: radial-gradient(circle, rgb(172, 240, 172), rgb(252, 252, 252));
    height: -webkit-fill-available;
    color: black
}

div.contenedor_solicitudes{
    position: relative;
    left: 1%;
    top: 150px;
    width: 100%;
    height: auto
}

div.contenedor_busqueda{
    position: relative;
    top: 70px;
    width: 100%;
    height: auto
}

div.contenedor_amigos{
    position: relative;
    top: 105px;
    width: 100%;
    height: auto
}

div.titulo_solicitudes,div.titulo_busqueda,div.titulo_amigos{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%; 
    font-size: 1.8vw;
    overflow: hidden;
    margin-bottom: 1%;
}

ul.lista_solicitudes, ul.lista_amigos, div.barra_busqueda{
    display: flex;
    width: 90%;
    height: auto;
    justify-content: space-evenly;
    background-image: linear-gradient(to bottom right, rgb(89, 219, 89),rgb(250, 234, 201));
    border-radius: 5px;
    padding:4%;
    box-shadow: 2px 2px 5px rgb(82, 82, 82);
}

div.contenedor_busqueda{

}