*{
margin: 0;
padding:0;
border:solid;
}

div.contenedor{
    width: 100%;
    height: 100%;;
    display: flex;
    font-family: 'Patrick Hand';
    color: white;
    justify-content: center;
    flex-direction: column;
}