*{
    margin: 0;
    padding: 0;
    border-color: black;
    /*border: solid;*/
}

.contenedor_general{
    display:flex;
    margin: 5%;
}

.contactos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: lightgrey;
    width: 25%;
}

.contactos img{
    border-radius: 50%;
    margin-left: 20%;
}

.contactos ul{
    list-style-type: none;  
}

.contacto{
    display:flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 1%;
    width:100%;
}

.nombre{
    display:inline;
    align-self: center;
    margin-right: 35%;
}

.conversaciones{
    background-color: aquamarine;
    width: 75%;
}