<!DOCTYPE html>
<html>

<head lang="es-ES">
    <meta charset="utf-8" />
    <title>Responder Preguntas - FaceBluff</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/general.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/cabecera.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/cuerpo_preguntas.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/cuerpo_responder_pregunta.css" />
</head>

<body>

    <div class="contenedor">
        <div class="header">
            <div class="titulo">
                <h1>FaceBluff</h1>
            </div>
            <div class="nav">
                <div class="enlace perfil"> <a href="/users/sesion"> Perfil </a> </div>
                <div class="enlace amigos"> <a href="/amigos/mis_amigos"> Amigos </a> </div>
                <div class="enlace preguntas"> <a href="/preguntas/preguntas"> Preguntas </a> </div>
                <div class="enlace desconectar"> <a href="/users/signin"> Desconectar </a> </div>
                <div class="enlace puntuacion">
                    <div class="user_icon"></div>
                    <div class="ptos">50 pts</div>
                </div>
            </div>
        </div>

        <div class="body">

            <div class="contenedor_info_respuestas">
                <div class="titulo_pregunta_a_responder">
                    <%= pregunta.texto %>
                </div>
                <div class="contenedor_respuestas">
                    <div class="info_user_pregunta">
                        <div class="info_respondida">

                            <% if(respondida) { %>
                            <h3> Ya has contestado a esta pregunta.</h3>
                            <% } else { %>
                            <h3> No has contestado a esta pregunta.</h3>
                            <div class="boton_responder_pregunta_propia">
                                <form class="responder_pregunta" method="POST" action="/preguntas/responder_pregunta">
                                    <input type="hidden" name="pregunta_id" value=<%= pregunta.id %>>
                                    <input type="hidden" name="pregunta_texto" value="<%= pregunta.texto %>">
                                    <button class="boton_responder_pregunta" type="submit">Contestar
                                        pregunta</button>
                                </form>
                            </div>
                            <% } %>

                        </div>

                    </div>
                    <div class="info_amigos_pregunta">
                        <div class="info_respondida">
                            <h3> Los siguientes amigos han respondido a esta pregunta:</h3>
                        </div>
                        <ul class="lista_respuesta_amigos">
                            <li>
                                <div class="info_respuesta_user 1">
                                    <div class="img"></div>
                                    <div class="nombre_solicitud"> Bruja Piruja </div>
                                    <div class="botones_respuesta_amigos">
                                        <button class="boton_responder_pregunta_amigo" onclick="location.href='/preguntas/responder_pregunta'">Adivinar</button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="info_respuesta_user 2">
                                    <div class="img"></div>
                                    <div class="nombre_solicitud"> Hannibal Gómez </div>
                                    <div class="botones_respuesta_amigos">
                                        <button class="boton_responder_pregunta_amigo" onclick="location.href='/preguntas/responder_pregunta'">Adivinar</button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="info_respuesta_user 3">
                                    <div class="img"></div>
                                    <div class="nombre_solicitud"> Stuart Minion </div>
                                    <div class="pregunta_respondida">
                                        <div class="info_pregunta_respondida_acertada">Has acertado</button>
                                        </div>
                                    </div>
                            </li>
                            <li>
                                <div class="info_respuesta_user 4">
                                    <div class="img"></div>
                                    <div class="nombre_solicitud"> Goomba </div>
                                    <div class="pregunta_respondida">
                                        <div class="info_pregunta_respondida_fallada">Has fallado</button>
                                        </div>
                                    </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>