<!DOCTYPE html>
<html>

<head lang="es-ES">
    <meta charset="utf-8" />
    <title> Modificar perfil - FaceBluff</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/General.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/Cabecera.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/Cuerpo.css" />

</head>

<body>
    <div class="contenedor">
        <div class="header">
            <div class="titulo">
                <h1>FaceBluff</h1>
            </div>
            <div class="nav">
                <div class="enlace perfil"> <a href="sesion"> Perfil </a> </div>
                <div class="enlace amigos"> <a href="mis_amigos"> Amigos </a> </div>
                <div class="enlace preguntas"> <a href="preguntas.html"> Preguntas </a> </div>
                <div class="enlace desconectar"> <a href="signout"> Desconectar </a> </div>
                <div class="enlace puntuacion">
                    <div class="user_icon"></div>
                    <div class="ptos"> <%= puntos %> ptos</div>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="contenedor_ventana">
                <div class="titulo_ventana">
                    <h2>Modificar perfil</h2>
                </div>
                <div class="contenedor_datos">

                    <form class="modify_user" method="post" action="/modificar_perfil" enctype="multipart/form-data">

                        <div class="elem contraseña">
                            <div class="texto">
                                <h2> Contraseña: </h2>
                            </div>
                            <input type="password" name="password_user">
                        </div>

                        <div class="elem nombre_completo">
                            <div class="texto">
                                <h2> Nombre completo: </h2>
                            </div>
                            <input type="text" name="name_user">
                        </div>

                        <div class="elem sexo">
                            <div class="texto">
                                <h2> Sexo: </h2>
                            </div>
                            <div class="elecciones">
                                <label class="eleccion">Hombre
                                    <input type="radio" checked="checked" name="sexo" value="Hombre">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="eleccion">Mujer
                                    <input type="radio" name="sexo" value="Mujer">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="eleccion">Otro
                                    <input type="radio" name="sexo" value="Otro">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>

                        <div class="elem fecha_nacimiento">
                            <div class="texto">
                                <h2> Fecha de nacimiento: </h2>
                            </div>
                            <input type="date" class="fecha" name="fecha">
                        </div>

                        <div class="elem imagen_perfil">
                            <div class="texto">
                                <h2> Imagen de perfil: </h2>
                            </div>
                            <input type="file" name="user_img">
                        </div>

                        <button class="boton_aceptar_cambiar_datos" type="submit"> Guardar cambios </button>
                    </form>

                    <% if (errorMsg !== null ) { %>
                    <div class="mensaje_error">
                        <h4>
                            <%= errorMsg %>
                        </h4>
                    </div>
                    <% } %>

                </div>
            </div>
        </div>
    </div>
</body>

</html>