<!DOCTYPE html>
<html>

<head lang="es-ES">
    <meta charset="utf-8" />
    <title>Añadir Preguntas - FaceBluff</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/general.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/cabecera.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/cuerpo_preguntas.css" />
</head>

<body>

    <div class="contenedor">
        <div class="header">
            <div class="titulo">
                <h1>FaceBluff</h1>
            </div>
            <div class="nav">
                <div class="enlace perfil"> <a href="/users/sesion"> Perfil </a> </div>
                <div class="enlace amigos"> <a href="/amigos/mis_amigos"> Amigos </a> </div>
                <div class="enlace preguntas"> <a href="/preguntas/preguntas"> Preguntas </a> </div>
                <div class="enlace desconectar"> <a href="/users/signout"> Desconectar </a> </div>
                <div class="enlace puntuacion">
                    <div class="user_icon">
                        <% if(user.img){ %>
                        <img class="icon" src="/users/imagen/<%= user.id %>">
                        <% } else { %>
                        <img class="icon" src="/users/no_profile_pic">
                        <% } %>
                    </div>
                    <div class="ptos">
                        <%= user.puntos %> ptos</div>
                </div>
            </div>
        </div>

        <div class="body">
            <div class="contenedor_añadir_preguntas">
                <div class="titulo_preguntas"> Añadir pregunta </div>

                <form class="nueva_pregunta" method="post" action="/preguntas/nueva_pregunta" >

                    <ul class="lista_añadir_opciones_preguntas">
                        <li>
                            <div class="texto_pregunta">
                                <div class="info_pregunta">Pregunta: <input type="text" name="texto_pregunta"></div>
                            </div>
                        </li>
                        <li>
                            <div class="opcion_respuesta 1">
                                <div class="info_pregunta">Opción 1: <input type="text" name="texto_respuesta1"></div>
                                <label class="eleccion">Correcta
                                    <input type="radio" name="correcta">
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="opcion_respuesta 2">
                                <div class="info_pregunta">Opción 2: <input type="text" name="texto_respuesta2"></div>
                                <label class="eleccion">Correcta
                                    <input type="radio" name="correcta">
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="opcion_respuesta 3">
                                <div class="info_pregunta">Opción 3: <input type="text" name="texto_respuesta3"></div>
                                <label class="eleccion">Correcta
                                    <input type="radio" name="correcta">
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="opcion_respuesta 4">
                                <div class="info_pregunta">Opción 4: <input type="text" name="texto_respuesta4"></div>
                                <label class="eleccion">Correcta
                                    <input type="radio" name="correcta">
                                </label>
                            </div>
                        </li>
                    </ul>
    
                    <div class="contenedor_boton_añadir_preguntas">
                        <div class="botones">
                            <button class="crear_pregunta"> Añadir nueva pregunta </button>
                        </div>
                    </div>

                </form>

                <% if (errorMsg !== null ) { %>
                <div class="mensaje_error">
                    <h4>
                        <%= errorMsg %>
                    </h4>
                </div>
                <% } %>

            </div>
        </div>
    </div>


</body>

</html>