<!DOCTYPE html>
<html>

<head lang="es-ES">
    <meta charset="utf-8" />
    <title>Preguntas - FaceBluff</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/general.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/cabecera.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/cuerpo_preguntas.css" />
</head>

<body>

    <div class="contenedor">
        <div class="header">
            <div class="titulo">
                <h1>FaceBluff</h1>
            </div>
            <div class="nav">
                <div class="enlace perfil"> <a href="/users/sesion"> Perfil </a> </div>
                <div class="enlace amigos"> <a href="/amigos/mis_amigos"> Amigos </a> </div>
                <div class="enlace preguntas"> <a href="/preguntas/preguntas"> Preguntas </a> </div>
                <div class="enlace desconectar"> <a href="/users/signout"> Desconectar </a> </div>
                <div class="enlace puntuacion">
                    <div class="user_icon"></div>
                    <div class="ptos">50 pts</div>
                </div>
            </div>
        </div>

        <div class="body">
            <div class="contenedor_preguntas">
                <div class="titulo_preguntas"> Preguntas seleccionadas aleatoriamente </div>
                <ul class="lista_preguntas">

                    <% if (errorMsg !== null ) { %>
                    <div class="mensaje_error">
                        <h4>
                            <%= errorMsg %>
                        </h4>
                    </div>
                    <% } %>

                    <% if(preguntas !== null) { %>
                    <% preguntas.forEach(function(pregunta) { %>
                    <li>
                        <div class="pregunta">
                            <div class="info_pregunta">
                                <a href="/preguntas/info_pregunta?id=<%= pregunta.id %>"> <%= pregunta.texto %> </a>
                            </div>
                        </div>
                    </li>
                    <% }); %>
                    <% } %>

                </ul>
                <div class="contenedor_añadir_pregunta">
                    <div class="titulo_añade_preguntas"> ¡Añade tus preguntas! </div>
                    <div class="botones"> <button class="crear_pregunta" onclick="location.href='/preguntas/nueva_pregunta'">
                            Crear nueva pregunta </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>