<!DOCTYPE html>
<html>

<head lang="es-ES">
    <meta charset="utf-8" />
    <title>Responder Preguntas - FaceBluff</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/general.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/cabecera.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/cuerpo_preguntas.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/cuerpo_responder_pregunta.css" />
</head>

<body>

    <div class="contenedor">
        <div class="header">
            <div class="titulo">
                <h1>FaceBluff</h1>
            </div>
            <div class="nav">
                <div class="enlace perfil"> <a href="/users/sesion"> Perfil </a> </div>
                <div class="enlace amigos"> <a href="/amigos/mis_amigos"> Amigos </a> </div>
                <div class="enlace preguntas"> <a href="/preguntas/preguntas"> Preguntas </a> </div>
                <div class="enlace desconectar"> <a href="/users/signin"> Desconectar </a> </div>
                <div class="enlace puntuacion">
                    <div class="user_icon"></div>
                    <div class="ptos">50 pts</div>
                </div>
            </div>
        </div>

        <div class="body">

            <div class="contenedor_info_respuestas">
                <div class="titulo_pregunta_a_responder"> <%= pregunta %> </div>
                <div class="contenedor_respuestas">

                    <form class="responder_pregunta" method="post">
                        <ul class="lista_respuestas">

                            <% if(respuestas !== null) { %> 
                            <% respuestas.forEach(function(respuesta) { %>
                                <li>
                                        <div class="respuesta">
                                            <label class="eleccion">
                                                <input type="radio" name="sexo" value="Hombre">
                                                <span class="checkmark"></span>
                                                <%= respuesta.texto %>
                                            </label>
                                        </div>
                                    </li>
                            <% }); %>
                            <% } %>
                            
                        </ul>
                </div>
                <div class="contenedor_añadir_pregunta">
                    <div class="botones"> <button class="crear_pregunta" onclick="location.href='/preguntas/responder_pregunta'">
                            Enviar respuesta </button>
                    </div>
                </div>

                </form>
            </div>

        </div>
    </div>
    </div>


</body>

</html>