@import "https://fonts.googleapis.com/css?family=Patrick+Hand";

*{
    padding:0;
    margin:0;
}

div.body{
    font-family: 'Patrick Hand';
    background-image: radial-gradient(circle, rgb(172, 240, 172), rgb(252, 252, 252));
    height: -webkit-fill-available;
}

div.contenedor_ventana{
    position: relative;
    left:27%;
    top:100px;
    width: 35vw;
    height: auto;
    margin:4%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

div.titulo_ventana{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 108%; 
    color:black;
    font-size: 1.8vw;
    overflow: hidden;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom right, rgb(89, 219, 89), rgb(23, 145, 23) );
    border-radius: 5px;
    padding:4%;
    box-shadow: 2px 2px 5px rgb(82, 82, 82);
}

div.mensaje_error{
    color: red;
    width: 37.5vw;
    display: flex;
    justify-content: center;
}

div.elem {
    display:flex;
    width: 96%;
    height: auto;
    margin:2%;
}

div.texto{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-self: center;
    width: 35vw;
    height: 2.5vw;
    overflow: hidden;
}

div.texto h2{
    font-weight: normal;
    font-size: 1.3vw;
    align-self: center;
    overflow: hidden;
}

div.elecciones{
    width: 60vw;
    display: flex;
    justify-content: space-between;
}

/*Botones de selección personalizados*/

 label.eleccion {
    display: flex;
    position: relative;
    padding-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    height: 80%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow:hidden;
  }
  
/*Esconde el botón predeterminado */
label.eleccion input {
    display:flex;
    position: relative;
    cursor: pointer;
    margin:1%;
    height: 0;
    width: 0;
}
  
  /* Botón personalizado */
span.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 10px;
    background-color: #eee;
    border-radius: 50%;
}
  
label.eleccion:hover input ~ .checkmark {
    background-color: #ccc;
}
 
label.eleccion input:checked ~ .checkmark {
    background-color: rgb(0, 0, 0);
}
  
span.checkmark:after {
    content: "";
    position: relative;
    display: none;
} 
 
label.eleccion input:checked ~ .checkmark:after {
    display: flex;
}
 
label.eleccion .checkmark:after {
    top: 2.6px;
    left: 2.6px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
} 

input{
    height: auto;
    border-radius: 3px;
    width: 23vw;
    align-self: center;
    justify-content: center;
    justify-items: center;
}

input.fecha{
    width: 150px;
}

div.email_signin input, div.contraseña_signin input{
    width: 55vw;
}

div.imagen_de_perfil{
    display:flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    
}
button.boton_aceptar{
    align-self: center;
    width: 25%;
    font-family: 'Patrick Hand';
    font-size: 1.5vw;
    border-radius:5px;
    background-color:rgb(172, 240, 172); 
    overflow: hidden;
}

div.texto h3{
    margin:0.5%;
    font-weight: normal;
    font-size: 0.9vw;
    align-self: center;
    overflow: hidden;
}

button.boton_adjuntar_imagen{
    display:flex;
    justify-content: center;
    align-self: center;
    width: 50%;
    height: 20%;
    border-radius: 3px;
}

button.boton_aceptar:hover{
    background-color: rgb(122, 238, 122);
    cursor: pointer;
}

button.boton_adjuntar_imagen:hover{
    background-color: rgb(192, 188, 188);
    cursor: pointer;
}

button.boton_aceptar:active{
    background-color: rgb(98, 228, 98);
}

button.boton_adjuntar_imagen:active{
   background-color: rgb(141, 140, 140);
}