<!DOCTYPE <!DOCTYPE html>
<html>

<head lang="es-ES">
    <meta charset="utf-8" />
    <title> Gestor de tareas </title>
    <link rel="shortcut icon" href="../img/icon.png">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/tasks.css" />
    <link rel="stylesheet" type="text/css" media="print" href="../css/tasksImpr.css" />
    <script src="P0.js"></script>
</head>

<body>

    <div class="contenedor">

        <div class="header">

            <div class="título">
                <h1> <span> Lista de </span> tareas </h1>
            </div>
        </div>

        <div class="cuerpo">

            <div class="contenedorb">
                <form class="Login_User" method="post" action="/login">
                    <div class="datos_user">
                        <h3> Direción de correo </h3>
                        <input type="text" name="email_user" placeholder="Introduzca su email">
                    </div>
                    <div class="datos_user">
                        <h3> Contraseña </h3>
                    <input type="password" name="password_user" placeholder="Introduzca su contraseña">
                    </div>
                    <button class="button" id="botón_login" type="submit">Aceptar</button>
                </form>
                <% if (errorMsg !== null ) { %>
                <div class="mensaje_error">
                    <h4> <%= errorMsg %> </h4>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</body>

</html>