<!DOCTYPE <!DOCTYPE html>
<html>

<head lang="es-ES">
    <meta charset="utf-8" />
    <title> Gestor de tareas </title>
    <link rel="shortcut icon" href="../img/icon.png">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/tasks.css" />
    <link rel="stylesheet" type="text/css" media="print" href="../css/tasksImpr.css" />
    <script src="P0.js"></script>
</head>

<body>

    <div class="contenedor">

        <div class="header">

            <div class="título">
                <h1> <span> Lista de </span> tareas </h1>
            </div>
            <div class="login">
                <div class="Img_user"> </div>
                <div class="Interacción">
                    <div class="correo">
                        <a> usuario@gmail.com </a>
                    </div>
                    <div class="desconectar">
                        <a> Desconectar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="cuerpo">

            <div class="contenedorb">
                <form class="añadir" method="post" action="/addTask">
                    <input type="text" name="Tarea_añadida" placeholder="Escriba la tarea y sus etiquetas con un '@'">
                    <button class="button" id="botón_añadir_tarea" type="submit">Añadir</button>
                </form>
                <ul>
                    <% taskList.forEach(function(task){ %>
                    <li>
                        <% if (task.done) { %>
                        <div class="t">
                            <% } else {  %>
                            <div class="st">
                                <% } %>
                                <div class="nombre">
                                    <h3>
                                        <%= task.text %>
                                    </h3>
                                </div>
                                <% if (!task.done) { %>
                                <% task.tags.forEach(function(tag){ %>
                                <div class="etiquetas">
                                    <div class="etiqueta"> <span>( </span>
                                        <%= tag %><span> )</span> </div>
                                </div>
                                <% }); %>
                                <div class="marcar">
                                    <button class="button" id="botón_finalizar_tarea" onclick=location.href="/finish/<%=task.id %>">Marcar finalizada</button>
                                </div>
                                <% } %>
                            </div>
                    </li>
                    <% }); %>
                </ul>
                <button class="button" id="botón_eliminar_tarea" onclick=location.href="/deleteCompleted">Eliminar
                    tareas completadas</button>
            </div>
        </div>
    </div>
</body>

</html>