*{
    border:0;
    margin:0;
    padding: 0;
}

.contenedor{
    margin-top: 5%;
    margin-left: 5%;
   font-family: Arial, Helvetica, sans-serif;
}

.login, .añadir, .finalizar, .eliminar, .title{
    display:none;
}

h1{
    font-weight: normal;
    font-size: 18px;
}

.complete{
    text-decoration: line-through;
    text-indent: 3%;
}

ul{
    padding:2%;
    font-size: 12px;
}

li{
    margin: 1%;
    padding-bottom: 2%;
}
.st{
    display:flex;
}

.etiquetas{
    display:flex;
}

.etiqueta{
    display:inline-flex;
    text-transform: lowercase;
    margin-left: 20%;
    margin-right: 20%;
}

