*{
    border:0;
    margin:0;
}

.contenedor{
    margin-top: 5%;
    margin-left: 5%;
}

.login, .añadir, .finalizar, .eliminar{
    display:none;
}

h1{
    font-weight: normal;
}

.complete{
    text-decoration: line-through;
    text-indent: 3%;
}

ul{
    padding:2%;
}

li{
    padding-bottom: 2%;
}
.st{
    display:flex;
}

.etiquetas{
    display:flex;
}

.etiqueta{
    display:inline-flex;
    text-transform: lowercase;
    margin-left: 20%;
    margin-right: 20%;
}